# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\MTECH\Project\LUV (SIGN to TEXT)youtube\Final to be sent to Mentor\Sign-Language-to-Text\Sign-Language-to-Text\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
